<h1>CV</h1>

<div class="flex-container">
    <div>
        <mat-card class="uddannelse">
            <mat-card-title>Jeg er i gang med uddannelse som:</mat-card-title>
            <mat-card-subtitle>datatekniker med speciale i programmering</mat-card-subtitle>
            <mat-card-content>
                <h3>Jeg har været igennem følgende skoleforløb på min uddannelse:</h3>
                <p>HF2</p>
                <p>HF1</p>
                <p>GF2</p>
                <p>GF1</p>
                <h3>I mellem skolen har jeg været i SKP og har også været i Scotland i 14 for at opleve hvordan skolen er derovre</h3>
                <h3>Efter HF2 har jeg været i en VFP på 3 uger ved IOSpect i Thisted som gik rigtig godt</h3>
            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <mat-card class="kursuser">
            <mat-card-title>Kursus</mat-card-title>
            <mat-card-content>
                <p>14-9-2019: DIF 1</p>
                <p>23-9-2018: Grundtræner modul B Bueskydning Danmark</p>
                <p>22-9-2018: Grundtræner modul C Bueskydning Danmark</p>
                <p>25-2-2018: Grundtræner modul A Bueskydning Danmark</p>
                <p>24-2-2018: 1-2 træner Bueskydning Danmark</p>
            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <mat-card class="Teknologier">
            <mat-card-title>Teknologier jeg har arbejdet med</mat-card-title>
            <mat-card-subtitle>Sprog/IDEer:</mat-card-subtitle>
            <mat-card-content>
                <table class="ITKval-table">
                    <tr>
                        <th>Sprog</th>
                        <th>IDE</th>
                    </tr>
                    <tr>
                        <td>HTML 5</td>
                        <td>Visual Studio</td>
                    </tr>
                    <tr>
                        <td>CSS 3</td>
                        <td>Visual Studio Code</td>
                    </tr>
                    <tr>
                        <td>JavaScript</td>
                        <td>Subline Text</td>
                    </tr>
                    <tr>
                        <td>Angular(TS)</td>
                        <td>Notepad++</td>
                    </tr>
                    <tr>
                        <td>NativeScript</td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <mat-card class="sprog">
            <mat-card-title>Sprog</mat-card-title>
            <mat-card-content>
                <tr>
                    <th>Sprog</th>
                    <th>Niveau</th>
                </tr>
                <tr>
                    <td>Dansk Mundtlig</td>
                    <td>Modersmål</td>
                </tr>
                <tr>
                    <td>Dansk Skriftlig</td>
                    <td>Øvet0</td>
                </tr>
                <tr>
                    <td>Engelsk Mundtlig</td>
                    <td>Øvet</td>
                </tr>
                <tr>
                    <td>Engelsk Skriftlig</td>
                    <td>Øvet</td>
                </tr>
            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <mat-card class="fritid">
            <mat-card-title>Fritid</mat-card-title>
            <mat-card-content>
                <p>I min fritid skyder jeg med bue på høj plan og er også træner i klubben fordi jeg rigtig godt kan lige
                    og give min viden videre til andre skytter. Jeg spiller også computer og hjælper andre med eller
                    selv reparerer computere. Jeg hygger mig også med mine venner når muligheden byder sig. </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>