<h1>Lidt om mig</h1>

<p>
    Udover min daglige skolegang skyder jeg med bue på eliteplan. Mit mål med min bueskydning er landsholdet og de store 
    udenlanske stævner!. 
    igennem min skydning har jeg blandt andet lært at man skal arbejde med tingende selvom det er svært og ikke give op.<br> <br>
    Ud over min egen skydning er jeg også træner på 2 hold, det har jeg valgt at gøre blandt andet for at kunne hjælpe 
    andre med deres skydning, samt udvikle mine egne kompetencer personligt og fagligt inden for bueskydning. <br>
    Så hjælper jeg også min far i hans firma buegrej.dk når der er behov for det. det kan blandt andet være messer og andet. <br><br>
    Ud over min bueskydning elsker jeg at game gerne både Playstation og PC og alt lige fra FIFA til Battlefield til God of War. <br><br>
    
</p>

<div class="flex-container">
    <mat-card class="GF1">
        <mat-card-title>Grundforløb 1</mat-card-title>
        <mat-card-content>
            <p class="aboutworktext">
                Mit GF1 gik meget ud på at afprøve de forskellige retninger indefor IT.
                lige fra it-supporter til mediagrafiker. <br><br>
                Mit GF1 tog jeg på Tech College i Aalborg og så lukkede EUX delen så jeg fik valget mellem og skrifte
                til EUD eller en anden skole. og så fik vi valget mellem Aarhus Tech eller MercanTech i Viborg.
                Jeg valgte Aarhus Tech fordi så kunne jeg skyde med bue samtidig med at passe min skole som ikke ville være muligt i Viborg.
            <p>
        </mat-card-content>
    </mat-card>

    <mat-card class="HF1"> 
        <mat-card-title>Grundforløb 2</mat-card-title>
        <mat-card-content>
            <p class="aboutworktext">
                Mit GF2 tog jeg på Aarhus Tech. På GF2 har jeg arbejdet med hardware, netværk 
                og lavet projekter med forskellige opsætninger samt it-support. 

            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="GF2">
        <mat-card-title>HF1</mat-card-title>
        <mat-card-content>
            <P class="aboutworktext">
                HF1 tog jeg også på Aarhus Tech og er stiftede jeg kendskab med programmering, 
                objektorienterede programmering, cisco
            </P>
        </mat-card-content>
    </mat-card>

    <mat-card class="GF1">
        <mat-card-title>HF2</mat-card-title>
        <mat-card-content>
            <P class="aboutworktext">
                Mit HF2 tog jeg også på Aarhus Tech, her arbejde jeg med SQL server opsætning, C# programmering 
                og clientside programmering hvor jeg brugte angular.
            </P>
        </mat-card-content>
    </mat-card>
</div>