.flex-container {
    display: flex;
}

.flex-container > div {
    margin-left: 3%;
    margin-right: 3%;
}

p {
    max-width: 50%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
}

h3 {
    text-decoration: none;
}

mat-card-title {
    text-align: center;
}

.HF2 {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5%;
    background-color: #cccccc;
    color: black;
}

.HF1 {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5%;
    background-color: #cccccc;
    color: black;
}

.GF2 {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5%;
    background-color: #cccccc;
    color: black;
}

.GF1 {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5%;
    background-color: #cccccc;
    color: black;
}

.aboutworktext {
    max-width: 100%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
}
