.sidenav-container {
  height: 100%;
  z-index: 99;
}

.sidenav {
  width: 170px;
}

.sidenav .mat-toolbar {
  background: inherit;
  width: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 200;
  color: white;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.menuLinks {
  display: inline-block;
  color: white;
}

.navbarLinks {
  float: right;
}

.mover {
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  .sidenav {
    display: none;
  }
}